h1 {
	color: #2c3e50;
	text-align: center;
	border-style: dotted;
	border-color: #bdc3c7;
	padding: 30px;
}

body {
	font-family: arial; 
	background-color: #ecf0f1;
	color: #34495e;
	border: 10px solid;

}

.app {
	width: 50%;
	margin: 0 auto;
}

h2 {
	color: #2980b9;
}

 div.end {
	color: #7f8c8d;
	text-align: left;
}

div.textarea {
	text-align: left;
}

div.checkbox {
	text-align: center;
}